// Primary
$primarySoftBlue: hsl(231, 69%, 60%);
$primarySoftRed: hsl(0, 94%, 66%);

// Neutral
$neutralGrayishBlue: hsl(229, 8%, 60%);
$neutralDarkBlue: hsl(229, 31%, 21%);
$neutralWhite: rgb(255, 255, 255);

// Fonts
$default-font-size: 1.6rem;


